<!DOCTYPE html>
<meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
<html lang="ru">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
<!DOCTYPE html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CRM</title>

		<link
			rel="stylesheet"
			href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
		/>
		<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
		<aside class="sidebar">
			<nav>
				<ul class="sidebar__nav">
					<li>
						<a href="./" class="sidebar__nav__link">
							<i class="mdi mdi-account-box-multiple"></i>
							<span class="sidebar__nav__text">Страница 1</span>
						</a>
					</li>
					<li>
						<a href="page2" class="sidebar__nav__link">
							<i class="mdi mdi-account-box-multiple"></i>
							<span class="sidebar__nav__text">Страница 2</span>
						</a>
					</li>
					<li>
						<a href="page3" class="sidebar__nav__link">
							<i class="mdi mdi-account-box-multiple"></i>
							<span class="sidebar__nav__text">Страница 3</span>
						</a>
					</li>
					<li>
						<a href="#" class="sidebar__nav__link">
							<i class="mdi mdi-exit-to-app"></i>
							<span class="sidebar__nav__text">Выход</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>
		<main class="main">
			<section>
				  <div>
                    <h2>Детали сделки 22</h2>

                        <ul class="check-list">
                            <li>Имя: {{ Transactions.Name }}</li>
                            <li>Номер сделки: {{ Transactions.Number }}</li>
                            <li>Почта: {{ Transactions.Email }}</li>
                            <li>Дата создания: {{ Transactions.Date_of_creation }}</li>
                        </ul>

                  </div>
			</section>
		</main>
	</body>
</html>
