<!DOCTYPE html>
<meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
<html lang="ru">
<!DOCTYPE html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CRM</title>

		<link
			rel="stylesheet"
			href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
		/>
		<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
		<aside class="sidebar">
			<nav>
				<ul class="sidebar__nav">
					<li>
						<a href="./" class="sidebar__nav__link">
							<i class="mdi mdi-account-box-multiple"></i>
							<span class="sidebar__nav__text">Страница 1</span>
						</a>
					</li>
					<li>
						<a href="page2" class="sidebar__nav__link">
							<i class="mdi mdi-account-box-multiple"></i>
							<span class="sidebar__nav__text">Страница 2</span>
						</a>
					</li>
					<li>
						<a href="page3" class="sidebar__nav__link">
							<i class="mdi mdi-account-box-multiple"></i>
							<span class="sidebar__nav__text">Страница 3</span>
						</a>
					</li>
					<li>
						<a href="#" class="sidebar__nav__link">
							<i class="mdi mdi-exit-to-app"></i>
							<span class="sidebar__nav__text">Выход</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>
		<main class="main">
			<section>
				<div class="container">
  					<div class="card">
						<a href="details_11">
    					<h3 class="title">Сделка 11</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_12">
    					<h3 class="title">Сделка 12</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_13">
    					<h3 class="title">Сделка 13</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_14">
    					<h3 class="title">Сделка 14</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_15">
    					<h3 class="title">Сделка 15</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
			</section>
			<section>
				<div class="container_2">
  					<div class="card">
						<a href="details_16">
    					<h3 class="title">Сделка 16</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_17">
    					<h3 class="title">Сделка 17</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_18">
    					<h3 class="title">Сделка 18</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_19">
    					<h3 class="title">Сделка 19</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
					<div class="card">
						<a href="details_20">
    					<h3 class="title">Сделка 20</h3>
							<div class="bar">
      						<div class="emptybar"></div>
      						<div class="filledbar"></div>
   				 </div>

    				<div class="circle">
      					<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      						<circle class="stroke" cx="60" cy="60" r="50"/>
    					</svg>
    				</div></a>
  				</div>
			</section>
		</main>
	</body>
</html>
